/* General CSS for the whole page or global shared properties */

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic
}


* 
{
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
}

*::before, *::after 
{
    box-sizing: border-box;
}

body, html 
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

h1 
{
    font-size: 1rem;
    color: white;
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.boot_hidden 
{
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

/* Boot screen related css */

.boot_screen 
{
    font-family: 'Space Mono', monospace;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #111111;
    justify-content: center;
    align-items: center;
}

.boot_text
{
    color: #f0f0f0;
    font-size: 2rem;
    animation: flicker 1s infinite alternate ease-in-out;
}

.header 
{
    position: absolute;
    top: -100px; 
    width: 100vw;
    height: 60px;
    background: #111111;
    border-bottom: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    z-index: 1;
    transition: top 1s ease-in-out;
}

.nav_languages 
{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}

.mobile_warning {
    display: none;
    position: fixed;
    bottom: 25px;
    left: 50%;
    width: 32vw;
    transform: translateX(-50%);
    background: #000000;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    font-size: 0.9rem;
    pointer-events: none;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: #ffc934;
}

.tooltip_text {
  visibility: hidden;
  width: 260px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid white;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.mobile_warning_container:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

.non_interactable {
    opacity: 0.2;
    transform: scale(0.95);
    pointer-events: none;
}

/* Nav General CSS */

.nav_languages button, .nav_home button 
{
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 6px 12px;
    font-size: 0.9rem;
    cursor: pointer;
}

.nav_home 
{
    position: absolute;
    left: 20px;
    display: flex;
    gap: 10px;
}

.nav_languages button:hover, .nav_home button:hover, .option_card:hover, .tab_icon:hover
{
    background-color: #ffffff;
    color: #000000;
}

.card_selection:hover 
{
    transform: translateY(-10px);
    background-color: #1a1a1a;
}

.card_selection:active
{
    transform: scale(0.95);
}

/* Main Body of CSS*/

.main_content_boot
{
    display: flex;
    position: absolute; 
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    color: #eeeeee;
    font-family: 'Space Mono', monospace;
}

.main_content 
{
    display: flex;
    background-color: #000000;
    margin-top: 60px; 
    animation: contentarrival 0.5s cubic-bezier(0.54, 0.13, 1, 1);
    min-height: calc(100vh - 60px);
    color: white;
}

.choosing_selection
{
    height: 50vh;
}

.card_selection 
{
    position: relative;
    width: 90vw;
    max-width: 280px;
    height: 500px;
    min-height: 200px;
    padding: 20px;
    background: #111111;
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, z-index 0.2s ease;
    transform: translateX(var(--x-off)) scale(1);
    font-size: 0.9rem;
    z-index: 1;
}

.card_grid 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card_selection:hover {
    transform: translateX(var(--x-off)) scale(1.05);
}

.tab_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
}

.card_selection::after {
    content: none;
}

.card_selection * {
    color: inherit;
}

.tab_icon {
    width: 100px;
    height: 100px;
    background: #000000;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tab_icon img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
/* "About me" Page CSS */

.profile_img img
{
    border: 2px solid #ffffff;
    margin: 20px 0;
}
.sidebar
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #ffffff;
    padding: 20px;
    width: 160px;
    background-color: #000000;
    width: 200px;
}

.options_grid 
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option_card 
{
    padding: 12px 8px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option_card.selected {
    background-color: white;
    color: black;
    font-weight: bold;
}

.aboutme_me
{
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

.aboutme_me img
{
    width: 128px;
}

.aboutme_content 
{
    padding: 30px;
    width: calc(100vw - 200px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.aboutme_content h1
{
    font-size: 1.5rem;
}

.aboutme_content h2
{
    font-size: 1.2rem;
}

.skill_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid white;
    background: #111;
}

.skill_category {
    flex: 1;
    min-width: 200px;
    padding: 25px;
    background-color: #000;
    border: 2px solid #fff;
}

.skill_category:hover {
    background-color: #464646;
    color: #000000;
}

.skill_category h2 {
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}

.skill_category ul {
    list-style-type: square;
    padding-left: 1rem;
}

.game_card 
{
  display: flex;
  border: 2px solid #ffffff;
  overflow: hidden;
  color: #ffffff;
  margin: 20px 0;
  max-width: 900px;
  width: 90%; 
}

.game_card:hover
{
    background-color: #464646;
    color: #000000;
}

.game_info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status 
{
  font-size: 0.8rem; 
  width: 8rem;
  font-weight: 600;        
  color: #ffffff;     
  padding: 2px 6px;    
  margin: 8px;    
  text-transform: uppercase; 
  letter-spacing: 0.1em; 
  display: flex;
  align-items: center;
  text-align: center;
}

.status.preproduction 
{
  background-color: #eeeb249a;
}

.status.prototype 
{
  background-color: #be33ff9a;
}
.status.development 
{
  background-color: #fca5238a; 
}
.status.complete 
{
  background-color: #2eff2e7c; 
}

.game_image 
{
  width: 30%;
  object-fit:fill
}

.icon_grid
{
    display: flex;
    justify-content: center;
}

.icons
{
    border: 2px solid #ffffff;
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px
}

.iconcase
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    transition: transform 0.2s ease,
}

.iconcase img 
{
    width: inherit;
}

.timeline_container 
{
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
    max-width: 600px;
}

.timeline 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.timeline_enter 
{
    display: flex;
    align-items: flex-start;
    position: relative;
}

.timeline_enter .dot 
{
    width: 12px;
    height: 12px;
    background-color: #00ff99;
    position: absolute;
    left: -28px;
    top: 12px;
}

.timeline_enter .log_text 
{
    font-family: 'Space Mono', monospace;
    background: #111;
    border: 2px solid #00ff99;
    padding: 6px 12px;
    margin-left: 10px;
    color: #00ff99;
    animation: flicker 1.5s infinite alternate;
}

.timeline_enter 
{
    opacity: 0;
    transform: translateX(100px);
    transition: transform 0.4s ease-in, opacity 1s ease-in-out;
}

.timeline_enter.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Modelling Page*/

.gallery_grid 
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 20px;
}

.gallery_container 
{
    width: 100%;
    padding: 60px 40px;
    padding: 40px;
}

.section_title 
{
    font-size: 1.5rem;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.filter_controls 
{
    margin: 20px 0;
}

.filter_button 
{
    background: transparent;
    border: 2px solid #ffffff;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
}

.filter_button:hover, .filter_button.active 
{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.work_card
 {
    width: 300px;
    border: 2px solid #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-out;
}

.work_card:hover 
{
    transform: scale(1.02);
}

.work_card img 
{
    width: 100%;
    height: auto;
    border: 2px solid #ffffff;
    aspect-ratio: 16/9;
}

.work_card.non_interactable 
{
    opacity: 0.2;
    transform: scale(0.98);
    pointer-events: none;
    transition: opacity 0.2s ease-in, transform 0.2s ease-in-out;
}

.work_info 
{
    padding: 16px;
    border: 2px solid #ffffff;
}

.work_info h2 
{
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.work_info p 
{
    font-size: 0.8rem;
    line-height: 1.5;
}

/* Media Queries */

@media (max-width: 750px) {
    html, body 
    {
        overflow: auto;
    }

    nav .returnbutton
    {
        display: none;
    }

    .main_content_boot 
    {
        flex-direction: column;
        padding: 20px;
        align-items: stretch;
        justify-content: center;
    }

    .choosing_selection 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .tab_icon 
    {
        display: none;
    }

    .header 
    {
        height: auto;
        padding: 10px;
    }

    .nav_languages, .nav_home 
    {
        position: static;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .mobile_warning 
    {
        display: block;
        width: 80vw;
        font-size: 0.8rem;
        padding: 8px 6px;
        bottom: 5px;
    }

    .aboutme_me 
    {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 25%;
    }

    .aboutme_content 
    {
        width: 100%;
        padding: 20px;
    }

    .skill_category 
    {
        min-width: 100%;
    }

    .gallery_grid 
    {
        grid-template-columns: 1fr;
    }

    .game_card 
    {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }

    .game_image 
    {
        width: 100%;
    }

    .timeline_container 
    {
        padding: 0 10px;
    }

    .card_selection 
    {
        height: 40vh;
        position: relative;
        transform: none;
        z-index: auto;
    }

    .card_selection:nth-child(1),.card_selection:nth-child(2),.card_selection:nth-child(3),.card_selection:nth-child(4) {
        --x-off: 0;
    }

    .choosing_selection {
        padding: 20px;
        justify-content: center;
    }
}


/* Animations */

@keyframes contentarrival
{
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes contentleave
{
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(100px) scale(0.2);
    }
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

@keyframes wipe {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes blinke {
  from, to { border-color: transparent }
  50% { border-color: #00ff99; }
}

.typestyle {
    white-space: nowrap;
    animation: blinke 0.8s step-end infinite;
    font-family: monospace;
}


.header_fall /* Injection animation */
{
    top: 0;
}

.header_top /* Injection animation */
{
    top: -100px;
}

.content_arrival /* Injection animation */
{
    animation: contentarrival 0.5s cubic-bezier(0.54, 0.13, 1, 1);
}

.content_leave /* Injection animation */
{
    animation: contentarrival 0.5s cubic-bezier(0.54, 0.13, 1, 1);
}
