<!-- HEADER COMPONENT_ONLY -->
<header class="header boot_hidden">
    <h1>HEADER_COMPONENT (To remove!)</h1> <!-- To remove this crap-->

    <nav class="nav_home">
        <button onclick="window.location.href='../index.html'">Selection Screen</button>
    </nav>

     <nav class="nav_languages">
        <button onclick="SwitchLanguage('pt')">pt</button>
        <button onclick="SwitchLanguage('en')">en</button>
        <button onclick="SwitchLanguage('es')">es</button>
        <button onclick="SwitchLanguage('jp')">jp</button>
    </nav>
</header>