<!-- HEADER COMPONENT_ONLY -->
<header class="header boot_hidden">
  <nav class="nav_home">
        <button onclick="window.location.href='../index.html'" class="returnbutton" data-translations="selectionscreen"></button>
    </nav>

     <nav class="nav_languages">
        <button onclick="SwitchLanguage('pt')">pt</button>
        <button onclick="SwitchLanguage('en')">en</button>
        <button onclick="SwitchLanguage('es')" class="non_interactable">es</button>
        <button onclick="SwitchLanguage('jp')" class="non_interactable">jp</button>
    </nav>
</header>